header {
  height: 100px;
}



header nav .link {
  text-decoration: none;
  color: white;
  border-bottom: 5px solid transparent;

}

header nav .link.active {
  color: #6C757D;

}

header nav .link:hover {
  border-bottom: 5px solid rgb(185, 74, 10);
}


footer {
  height: 200px;
  background-color: black;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}