header {
  height: 100px;
}



header nav .link {
  text-decoration: none;
  color: white;
  border-bottom: 5px solid transparent;

}

header nav .link.active {
  color: #6C757D;

}

header nav .link:hover {
  border-bottom: 5px solid rgb(185, 74, 10);
}


main{
  height: 500px;
}

main .container-main{
  height: 100%;
  position: relative;
}

main .container-btn{
  position: absolute;
  bottom: 0;
}

main .container-btn .icon{
  font-size: 50px;
  cursor: pointer;
}



footer {
  height: 200px;
  background-color: black;
}